# Dossiers de configuration de l'IDE
.vs/
*.sln.ide/

# Environnements Virtuels Python
env/
venv/
__pycache__/

# --- SÉCURITÉ (À AJOUTER) ---
.env

# Fichiers de données ou logs générés localement
*.log